div.admonition-todo {
    background-color: #eef;
    border: 1px solid #ccf;
}

.todo-list div.admonition-todo {
    margin-bottom: 0px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.todo-list .todo-source{
    background-color: #eef;
    margin-top: 0px;
    padding: 7px;
    padding-top: 1px;
    border-bottom: 1px solid #ccf;
}


.todo-source {
    background-color: #eee;
    margin-top: 0px;
}
